.blog {
    width: 100%;
    display: flex;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
}

.blog .title {
    width: 100%;
    padding-top: 3rem;
    margin-bottom: 3rem;
    overflow: hidden;
}

.title h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 98px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
}

.about section {
    width: 100%;
    margin-top: 10rem;
    overflow: hidden
}

.blog .blog-section-image {
    width: 100%;
    overflow: hidden;
    /* padding: 30px; */
}

.blog-section-image .river {
    width: 100%;
    height: 438px;
    background: rgba(204, 204, 204, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.blog-section-image .logo {
    width: 436.03px;
    height: 300px;
    z-index: 1000;
    margin-left: 6rem;
    margin-top: -28rem;
}

.section-filter input[type=text] {
    /* width: 464.82px; */
    height: 48px;
    background: #EEEEEE;
    box-shadow: 6px 16px 20px 5px rgba(170, 170, 170, 0.2);
    border-radius: 100px;
}

.section-filter .filter-form .filter {
    background: #EEEEEE;
    box-shadow: 6px 16px 20px 5px rgba(170, 170, 170, 0.2);
    border-radius: 100px;
    margin-top: 2rem;
    width: 300px;
    height: 48px;
}

.filter-form .form-control-feedback {
    position: absolute;
    z-index: 1000;
    display: block;
    font-size: 20px;
    width: 3.375rem;
    height: 3.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    left: 30px;
    color: #000;
}

.filter-form .filter-text {
    display: block;
    font-size: 20px;
    width: 3.375rem;
    height: 3.375rem;
    line-height: 2.375rem;
    text-align: center;
    position: absolute;
    z-index: 1000;
    left: 8rem;
    top: 5.7rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}

.filter-form i {
    position: absolute;
    z-index: 1000;
    left: 17.6rem;
    top: 6rem;
    cursor: pointer;
}

.section-filter textarea {
    /* width: 464.82px; */
    margin-top: 3rem;
    background: #EEEEEE;
    box-shadow: 6px 16px 20px 5px rgba(170, 170, 170, 0.2);
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 1000;
    display: block;
    font-size: 20px;
    width: 3.375rem;
    height: 3.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    left: 30px;
    top: 5px;
    color: #000;
}

.section-filter form input::placeholder {
    padding-left: 3rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #AAAAAA;
}

.food-cards {
    width: 100%;
    margin-top: 4.5rem;
    overflow: hidden;
}

.food-cards .card .card-body .card-btn {
    width: 100%;
}

.card-btn ul {
    /* width: 400px; */
    float: left;
    margin-left: -1.6rem;
}

.card-btn ul li {
    list-style: none;
    display: inline-block;
    margin-right: 7px;
}

.card-btn .pizza {
    width: 120px;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    padding: 7px 10px 7px 10px;
    color: #FFFFFF;
    background: #00205B;
}

.pizza i {
    color: #FFFFFF;
    padding-left: 5px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.card-footer .date p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 0.04em;
    color: #000000;
}

.card-footer .stars {
    padding-top: 10px;
    color: #CCCCCC;
}

.stars span {
    padding-top: 5px;
    font-size: 18px;
    padding-left: 5px;
}

.card-footer .stars .checked {
    color: #FFA723;
    padding-left: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.grid>article {
    background: #FFFFFF;
    width: 100%;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid>article img {
    max-width: 100%;
    height: 250px;
}

.grid .text {
    padding: 20px;
    text-align: center;
}

.grid .text h3 {
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
}

.grid .text p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    padding-top: 10px;
    line-height: 24px;
    padding-top: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #404040;
}

.grid .card-btn {
    width: 100%;
    margin-top: 1rem;
}

.grid .card-footer {
    /* padding-top: 2rem; */
    background-color: #FFFFFF;
}

.grid .text p a {
    text-decoration: none;
    font-weight: bold;
    color: #555;
    font-family: 'Courgette', cursive;
}

.section-card {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1600px) and (max-width: 1900px) {
    .container {
        max-width: 1198px;
        /* border: 1pt solid yellow */
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .container {
        max-width: 1198px;
        /* border: 1pt solid yellow */
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1190px;
    }
    .card-btn ul li {
        margin-top: 10px;
    }
    .grid>article {
        background: #FFFFFF;
        height: 100%;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    }
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 1198px;
        /* border: 1pt solid yellow */
    }
    .card-btn ul {
        /* width: 400px; */
        float: left;
        /* margin-left: -2rem; */
    }
    .card-btn ul li {
        margin-top: 10px;
    }
    .card-btn .pizza {
        box-sizing: border-box;
        border-radius: 20px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.04em;
        padding: 7px 10px 7px 10px;
        color: #FFFFFF;
        background: #00205B;
    }
    .pizza i {
        color: #FFFFFF;
        padding-left: 5px;
    }
    .grid>article {
        height: 100%;
    }
    .blog-section-image .river {
        width: 100%;
        height: 438px;
        background: rgba(204, 204, 204, 0.4);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
    .blog-section-image .logo {
        width: 80%;
        height: 80%;
        z-index: 1000;
        margin-left: 3rem;
        margin-top: -28rem;
    }
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 1198px;
        /* border: 1pt solid yellow */
    }
    
    .card-btn ul {
        /* width: 400px; */
        float: left;
        /* margin-left: -2rem; */
    }
    .card-btn ul li {
        margin-top: 10px;
    }
    .food-cards .card {
        border: none;
        width: 350px;
        background: #F9F9F9;
        box-shadow: 6px 16px 40px 5px rgba(170, 170, 170, 0.2);
        border-radius: 8px;
    }
    .grid>article {
        height: 100%;
    }
    .blog-section-image .river {
        width: 100%;
        height: 438px;
        background: rgba(204, 204, 204, 0.4);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
    .blog-section-image .logo {
        width: 80%;
        height: 80%;
        z-index: 1000;
        margin-left: 2rem;
        margin-top: -28rem;
    }
    .grid>article .card-footer {
        width: 100%;
    }
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
    .container {
        max-width: 1198px;
        /* border: 1pt solid yellow */
    }
   
   
    .grid>article {
        height: 100%;
    }
    .grid>article .card-btn {
        width: 100%;
        text-align: center;
    }
    .card-btn ul li {
        margin-top: 10px;
    }
    .card-btn ul {
        text-align: center;
    }
    .grid>article .card-footer {
        width: 100%;
    }
    .blog-section-image .river {
        width: 100%;
        height: 100%;
        background: rgba(204, 204, 204, 0.4);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
    .blog-section-image .logo {
        width: 50%;
        height: 50%;
        z-index: 1000;
        margin-left: 7rem;
        margin-top: -25rem;
    }
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
    .container {
        max-width: 1198px;
        /* border: 1pt solid yellow */
    }
    
   
    .card-btn ul li {
        margin-top: 10px;
    }
    .blog-section-image .river {
        width: 100%;
        height: 100%;
        background: rgba(204, 204, 204, 0.4);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
    .blog-section-image .logo {
        width: 80%;
        height: 80%;
        z-index: 1000;
        margin-left: 2rem;
        margin-top: -16rem;
    }
}