.contact {
    width: 100%;
    margin-bottom: 8rem;
    margin-top: 4rem;
}

.contact .color-form {
    height: 708px;
    width: 100%;
    background: #CD5B5B;
    border-radius: 100px 0px 0px 0px;
}

.Bottom-form {
    background: #EFEFEF;
    height: 200px;
}

.contact-form h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 98px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    padding-top: 2rem;
    color: #ffffff;
}

.contact-form .loram {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    margin-left: 16rem;
    margin-right: 16rem;
    color: #FFFFFF;
    padding-top: 20px;
}

.form-data {
    width: 100%;
    z-index: 1000;
    margin-top: -40rem;
    padding: 0px 5rem 0px 5rem;
}

.form {
    height: 558px;
    background: #FFFFFF;
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
    border-radius: 8px;
}

.form .contact-forms {
    padding: 20px 0px 0px 30px;
}

.form .contact-forms h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    padding: 20px 0px 20px 0px;
    letter-spacing: 0.04em;
    color: #00205B;
}

.contact-forms .form-group input[type=text] {
    height: 45px;
    margin-top: 1rem;
    border: 2px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 8px;
}

.contact-forms .form-group textarea {
    height: 133px;
    margin-top: 1rem;
    width: 100%;
    border: 2px solid #BBBBBB;
    background: #FFFFFF;
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
    border-radius: 8px;
}

.form .social-form {
    padding: 40px 0px 0px 20px;
    height: 100%;
    background: #EEEEEE;
    border-radius: 0px 8px 8px 0px;
}

.social-form h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #00205B;
}

.social-form p {
    font-family: Yellowtail;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #404040;
}

#social-links .links {
    display: inline-block;
    background: #000000;
    font-size: 15px;
    padding: 0px 3px 0px 3px;
    border-radius: 2px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    margin-right: 6px;
    margin-bottom: 5px;
}

.sub-btn {
    float: right;
    margin-top: 10px;
}

.sub-btn .sub {
    background: #FFFFFF;
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 5px 20px 5px 20px;
    color: #BA0C2F;
    border: 1pt solid #BA0C2F;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1600px) and (max-width: 1900px) {}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1190px;
    }
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contact {
        width: 100%;
    }
    .contact .container {
        max-width: 1190px;
    }
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact {
        width: 100%;
    }
    .contact .container {
        max-width: 1190px;
    }
    .form-data {
        width: 100%;
        z-index: 1000;
        margin-top: -60rem;
        /* top:-20%; */
        padding: 0px 5rem 0px 5rem;
    }
    .form {
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
        border-radius: 8px;
    }
    .form .contact-forms {
        padding: 20px 20px 0px 30px;
    }
    .form .social-form {
        padding: 40px 0px 0px 20px;
        height: 100%;
        border-radius: 0px 8px 8px 0px;
    }
    .Bottom-form {
        background: #EFEFEF;
        height: 500px;
    }
    .contact-form .loram {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 33px;
        align-items: center;
        text-align: center;
        margin-left: 9rem;
        margin-right: 9rem;
        color: #FFFFFF;
        padding-top: 20px;
    }
    .contact-form h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 70px;
        line-height: 98px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        padding-top: 2rem;
        color: #ffffff;
    }
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
    .contact {
        width: 100%;
        /* background: blue; */
    }
    .contact .container {
        max-width: 1190px;
    }
    .form-data {
        width: 100%;
        z-index: 1000;
        margin-top: -62rem;
        /* top:-20%; */
        padding: 0px 5rem 0px 5rem;
    }
    .form {
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
        border-radius: 8px;
    }
    .form .contact-forms {
        padding: 20px 20px 0px 30px;
    }
    .form .social-form {
        padding: 40px 0px 0px 20px;
        height: 100%;
        border-radius: 0px 8px 8px 0px;
    }
    .Bottom-form {
        background: #EFEFEF;
        height: 540px;
    }
    .contact-form .loram {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        /* line-height: 33px; */
        align-items: center;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
        color: #FFFFFF;
        /* padding-top: 20px; */
    }

    .contact-form h2{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
        line-height: 98px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        padding-top: 2rem;
        color: #ffffff;
    }

    .form .contact-forms h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 45px;
        padding: 20px 0px 20px 0px;
        letter-spacing: 0.04em;
        color: #00205B;
    }

    .social-form h3 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 45px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #00205B;
    }
}

/* Small Device = 320px */



@media only screen and (max-width: 479px) {
    .contact {
        width: 100%;
        /* background: pink; */
    }
    .contact .container {
        max-width: 1190px;
    }
    .form-data {
        width: 100%;
        z-index: 1000;
        margin-top: -62rem;
        /* top:-20%; */
        padding: 0px 5rem 0px 5rem;
    }
    .form {
        width: 17rem;
        margin-left: -49px;
        background: #FFFFFF;
        box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
        border-radius: 8px;
    }
    .form .contact-forms {
        /* padding: 20px 20px 0px 30px; */
    }
    .form .social-form {
        /* padding: 40px 0px 0px 20px; */
        height: 100%;
        border-radius: 0px 8px 8px 0px;
    }
    .Bottom-form {
        background: #EFEFEF;
        height: 540px;
    }
    .contact-form .loram {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        /* line-height: 33px; */
        align-items: center;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
        color: #FFFFFF;
        /* padding-top: 20px; */
    }

    .contact-form h2{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 98px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        padding-top: 2rem;
        color: #ffffff;
    }

    .form .contact-forms h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 45px;
        padding: 20px 0px 20px 0px;
        letter-spacing: 0.04em;
        color: #00205B;
    }

    .social-form h3 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 45px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #00205B;
    }
}