.title {
    width: 100%;
    height: 100%;
}

.title-img {
    width: 100%;
    height: 400px;
    background: url(../../images/resturant.jpg);
    background-position: center;
    background-size: cover;
}

.title .title-container {
    margin-top: -15rem;
}

.title .title-container .container {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.title .title-container .container .heading-title {
    width: 100%;
    padding: 2rem 0px 0px 5rem;
}

.heading-title .heading-para {
    float: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
    letter-spacing: 0.1em;
    color: #050404;
}

.heading-title h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    float: left;
    margin: -0.1rem 0px 0px -5.5rem;
    font-size: 60px;
    padding-top: 2rem;
    line-height: 73px;
    letter-spacing: 0.04em;
    color: #000000;
}

.heading-title .title-starss {
    float: left;
    margin: 5.8rem 0px 0px -19.5rem;
}

.title-starss span {
    padding-left: 10px;
    font-size: 18px;
    color: #cccccc;
}

.title-starss .checked {
    color: #FFA723;
}

.title section {
    width: 100%;
    padding: 3rem;
    overflow: hidden;
}

section .blog-desc {
    width: 100%;
    overflow: hidden;
}

.blog-desc .blog-loram {
    padding: 0px 20px 0px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    line-height: 33px;
    letter-spacing: 0px;
    color: #404040;
}

section .blog-img {
    width: 100%;
    overflow: hidden;
}

.blog-img img {
    width: 100%;
    border-radius: 8px;
    height: 289px;
}

.blog-img p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    float: left;
    padding: 10px;
    letter-spacing: 0.04em;
    color: #000000;
}

.title .section-two {
    width: 100%;
    overflow: hidden;
}

.section-two .blog-logo {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.blog-logo img {
    width: 90%;
    height: 60%;
}

.section-two .blog-share-history {
    width: 100%;
    padding-top: 4.3rem;
    overflow: hidden;
}

.blog-share-history h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.04em;
    color: #000000;
}

.blog-share-history .span {
    width: 130px;
    margin-left: -2rem;
    border: 3px solid #000000;
}

.blog-share-history ul {
    width: 100%
}

.blog-share-history ul li {
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    padding-top: 15px;
    margin-left: -2rem;
    letter-spacing: 0.04em;
    color: #000000;
}

.title .section-third {
    border-bottom: 1pt solid #cccccc
}

.blog-desc .pizza-list {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
}

.pizza-list ul {
    margin-left: -2rem
}

.pizza-list ul li {
    float: left;
    margin-right: 10px;
    list-style: none;
}

.pizza-list .pizza {
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    padding: 10px;
    color: #FFFFFF;
    background: #00205B;
}

.pizza i {
    color: #FFFFFF;
    padding-left: 5px;
}

.section-forth .related-blog {
    width: 100%;
    overflow: hidden;
}

.related-blog img {
    width: 100%;
    height: 330px;
    border-radius: 8px;
}

.related-blog p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    padding-top: 2rem;
    letter-spacing: 0.1em;
    color: #404040;
}

.related-blog h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    margin-top:-0.4rem;
    text-align: left;
    line-height: 37px;
    letter-spacing: 0.04em;
    color: #000000;
}



/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1600px) and (max-width: 1900px) {
    .container {
        max-width: 1198px;
        /* border: 1pt solid yellow */
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .container {
        max-width: 1198px;
        /* border: 1pt solid yellow */
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1190px;
    }
  
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
   
    .container {
        max-width: 1198px;
        /* border: 1pt solid yellow */
    }

   


    
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  
    .container {
        max-width: 1198px;
        /* border: 1pt solid yellow */
    }

    .blog-desc .blog-loram {
        padding: 0px 20px 0px 0px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: left;
        line-height: 33px;
        letter-spacing: 0px;
        color: #404040;
    }

    .blog-img img {
        width: 100%;
        border-radius: 8px;
        height: 270px;
    }

    .blog-logo img {
        width: 80%;
        height: 50%;
    }

    .related-blog img {
        width: 100%;
        border-radius: 8px;
    }
    
    
   
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
  
    .container {
        max-width: 1198px;
        /* border: 1pt solid yellow */
    }
    .blog-desc .blog-loram {
        padding: 0px 20px 0px 0px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: left;
        line-height: 33px;
        letter-spacing: 0px;
        color: #404040;
    }

    .blog-img img {
        width: 100%;
        border-radius: 8px;
        height: 100%;
    }

    .blog-logo img {
        width: 80%;
        height: 50%;
    }

    .related-blog img {
        width: 100%;
        border-radius: 8px;
    }
    .related-blog .related-data{
        margin-bottom: 3rem
    }

    .related-blog p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-align: left;
        line-height: 24px;
        padding-top: 2rem;
        letter-spacing: 0.1em;
        color: #404040;
    }
    
    .related-blog h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        margin-top:-0.4rem;
        text-align: left;
        line-height: 37px;
        letter-spacing: 0.04em;
        color: #000000;
    }

    .heading-title .heading-para {
        float: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        padding-top: 10px;
        letter-spacing: 0.1em;
        color: #050404;
    }
    
    .heading-title h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        float: left;
        margin: -0.1rem 0px 0px -5.5rem;
        font-size: 50px;
        padding-top: 2rem;
        line-height: 73px;
        letter-spacing: 0.04em;
        color: #000000;
    }
    .heading-title .title-starss {
        float: left;
        margin: 5rem 0px 0px -16.5rem;
    }
    .title-starss span {
        padding-left: 10px;
        font-size: 14px;
        color: #cccccc;
    }
    
    
   
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
   
    .container {
        max-width: 1198px;
        /* border: 1pt solid yellow */
    }

    
    
    .heading-title .heading-para {
        float: left;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        padding-top: 10px;
        margin: 0px 0px 0px -1.5rem;
        letter-spacing: 0.1em;
        color: #050404;
    }
    
    .heading-title h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        float: left;
        /* margin: -0.1rem 0px 0px -8.5rem; */
        font-size: 40px;
        padding-top: 2rem;
        line-height: 73px;
        letter-spacing: 0.04em;
        color: #000000;
    }
    .blog-desc .blog-loram {
        padding: 0px 20px 0px 0px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-align: left;
        line-height: 33px;
        letter-spacing: 0px;
        color: #404040;
    }

    .blog-img img {
        width: 100%;
        border-radius: 8px;
        height: 100%;
    }

    .blog-logo img {
        width: 80%;
        height: 50%;
    }

    .related-blog img {
        width: 100%;
        height: 250px;
        border-radius: 8px;
    }
    .related-blog .related-data{
        margin-bottom: 3rem
    }

    .related-blog p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-align: left;
        line-height: 24px;
        padding-top: 2rem;
        letter-spacing: 0.1em;
        color: #404040;
    }
    
    .related-blog h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        margin-top:-0.4rem;
        text-align: left;
        line-height: 37px;
        letter-spacing: 0.04em;
        color: #000000;
    }

    .heading-title .title-starss {
        float: left;
        margin: 4rem 0px 0px -13.5rem;
    }
    .title-starss span {
        padding-left: 10px;
        font-size: 12px;
        color: #cccccc;
    }

    .pizza-list ul li{
        margin-top: 20px;
    }
    
   
}